<head>
    <link rel="stylesheet" href="/css/search_user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet/less" href="/css/search_user.css">
</head>

<body>

    <h2>search Developers</h2>

    <form class="example" action="/search/users" method="post">

        <input type="text" placeholder="Search.." name="search_user">
        <button type="submit" ><i class="fa fa-search"></i></button>
        
    </form>



    <!-- <h1>search users</h1>
    
    <form action="/search/users" method="post">
    
        <div>
    
            <input type="text" name="search_user" id="search_user">
            <input type="submit" value="find">
    
        </div>
    
    </form> -->
</body>


